.actual-news {
  &__list {
    display: flex;
    margin-left: 20px;
  }

  .news-item {
    width: 304px;
    margin-right: 20px;

    &:nth-child(2) {
      display: flex;
    }

    &__img {
      height: 192px;
    }

    &__title {
      padding: 0 25px;
      margin: 25px 0 10px;
      font-size: 20px;
    }

    &__descr {
      padding: 0 25px 50px;
    }

    &__date {
      padding: 0 25px 25px;
    }
  }

  &__link {
    width: 274px;
    margin: 30px auto 0;
  }
}