.actual-news {
  .news-item {
    width: 460px;

    &__img {
      height: 289px;
    }

    &__title {
      margin: 35px 0 15px;
      font-size: 24px;
      padding: 0 30px;
    }

    &__descr {
      padding: 0 30px 50px;
    }

    &__date {
      padding: 0 30px 40px;
    }
  }
}