.contacts-sect {
  padding-top: 40px;
  padding-bottom: 40px;

  .breadcrumbs-list {
    width: 100%;
    margin-bottom: 60px;

    &__item {
      color: $blue-purple-color;
      &::after {
        color: $blue-purple-color;
      }

      &--current {
        color: $red-color;
      }
    }
  }

  &__content {
    display: flex;
    flex-flow: wrap;
  }

  &__list {
    display: flex;
    flex-flow: column;

    &-item {
      margin-top: 40px;
    }
  }

  .contacts-block {
    display: flex;
    flex-flow: column;

    &__city {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 24px;
      line-height: 112%;
      color: $blue-purple-color;
    }

    &__contact {
      display: flex;
      flex-flow: column;
      padding-left: 35px;
      position: relative;
      color: $paragraph-color;
      font-size: 18px;
      line-height: 150%;

      &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 5px;
        left: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      &_phone {
        &::before {
          background-image: url('../img/phone-icon-dark.svg');
        }
      }

      &_mail {
        &::before {
          background-image: url('../img/mail-icon-dark.svg');
        }
      }

      &_location {
        &::before {
          background-image: url('../img/location-icon-dark.svg');
        }
      }
    }

    &__link {
      margin-top: 10px;

      &:hover {
        opacity: .7;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}