.activities-sect {
  &__title {
    margin: 0 0 60px;
  }
  &__activities {
    padding: 0 50px;
  }
}

.activity {
  grid-template-columns: 420px 260px auto;
  &:nth-last-child(n+2) {
    margin: 0 0 115px;
  }
  &:nth-child(2n) {
    grid-template-columns: 510px 130px auto;
    > .activity__img {
      // margin: 0 0 0 auto;
    }
  }
  &__img {
    // margin: 0 auto 0 0;
    // width: auto;
  }
  &__text {
    // width: 525px;
  }
  &__title {
  }
  &__descr {
  }
}