.best-in-business {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #2F133F;

  &__title {
    color: #fff;
  }

  &__list {
    color: #fff;
    display: flex;
    flex-flow: wrap;

    &-item {
      margin-top: 40px;

      .header {
        display: flex;
        margin: 0 0 15px;
      }

      .img-wrapper {
        margin-right: 20px;
        width: 80px;
        height: 80px;

        img {
          width: 100%;
          object-fit: contain;
          object-position: top;
        }
      }

      .title {
        font: 700 36px/150% Lato, sans-serif;
        color: $red-color;
      }

      .descr {
        font: 400 15px/150% Lato, sans-serif;
      }
    }
  }
}