.best-in-business {
  &__list {
    flex-flow: nowrap;
    justify-content: center;
    margin-right: -40px;

    &-item {
      width: auto;
      max-width: 265px;
      margin-right: 39px;
    }
  }
}