.best-in-business {
  &__list {
    justify-content: flex-start;

    &-item {
      margin-right: 55px;

      &:nth-child(-n+2) {
        margin-top: 0;
      }

      &:nth-child(n+3) {
        margin-top: 50px;
      }

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
}