.service-sect {
  &__title {
    margin-bottom: 50px;
  }
}


.services-block {
  display: flex;
  >.slick-list {
    overflow: hidden;
  }
}

.service-card {
  width: 300px;
  &__title {
  }
}