.service-sect {
  padding-top: 95px;
  &__title {
    margin-bottom: 35px;
  }
}

.service-card {
  // (section width - margin-right) / visible cards
  width: 314px;
  padding: 30px;

  &__img {
    width: 80px;
    height: 80px;
  }
  &__title {
    font-size: 20px;
  }
}