.descr-sect {
  padding-top: 40px;
  background-size: 425px 412px;
  background-position: top calc(50px + 35%) right calc(50vw - 480px);
  &__title {
    max-width: 390px;
    margin-bottom: 40px;
  }
  &__descr, &__list {
    max-width: 767px;
    margin-bottom: 30px;
  }
}