.hero__circle-big {
  right: -40px;
  top: -60px;
}

.hero__circle-medium {
  right: calc(50vw - 100px); //400px
  top: 100px;
}

.hero__circle-small {
  left: calc(50vw - 171px); //325px
}

.hero-sect {
  padding-bottom: 75px;
  &__img {
    bottom: 60px;
    right: calc(50vw - 480px);
  }
  &__btn {
    margin-bottom: 150px;
  }
  &__slide {
    padding: 0 calc(50vw - 480px);
  }

  &__arrow {
    width: 75px;
    height: 37.5px;
    padding-bottom: 3px;
    left: calc(50vw - 480px);
  }
}
