.breadcrumbs-list {
  font: 14px/214% Lato, sans-serif;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;

  &::-webkit-scrollbar {
    display: none;
  }
  &__item {
    white-space: nowrap;
    margin-right: 20px;

    &::after {
      content: '\276F';
      display: inline-block;
      margin-left: 20px;
      width: 5px;
      height: 8px;
      color: $white-color;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }

    &--current {
      color: $red-color;
    }
  }
}

.service-hero {
  position: relative;
  background-color: #2f133f;
  background-repeat: no-repeat;
  color: #fff;

  &__bg-img {
    object-fit: contain;
    position: absolute;
    display: none;
  }

  &-single__bg-img {
    display: none;
  }

  &__title {
    margin: 30px 0;
    font: 30px/133% Lato, sans-serif;
  }

  &__descr {
    font: 14px/179% Lato, sans-serif;
    margin: 0 0 30px;
  }

  &__btn {
    font-size: 15px;
    width: 274px;
  }

  &-inner {
    margin: 35px 0 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 50%;
      left: -20px;
      bottom: 0;
      background: #fff;
    }
  }

  &__list {
    padding: 15px;
    background-color: $white-color;
    border: 1px solid rgba(47, 19, 63, 0.3);
    border-radius: 8px;
    position: relative;

    font: 13px/200% Lato, sans-serif;
    color: $blue-purple-color;

    display: flex;
    flex-flow: column;

    &-item {
      position: relative;
      margin: 0 auto 5px 0;
      transition: opacity 80ms linear;

      &.active {
        &::after {
          content: '';
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $red-color;
        }
      }

      &:hover {
        opacity: .5;
      }
    }
  }
}