.service-hero {

  &__bg-img {
    width: 290px;
    height: 315px;
    top: 7%;
    right: calc(50% - 480px);
  }

  &-single__bg-img {
    display: block;
  }

  &__descr {
    width: 636px;
  }

  &-inner {
    margin-top: 60px;

    &::before {
      left: calc((50vw - 480px) * -1);
    }
  }

  &__list {
    &-item {
      margin: 0 auto;
    }
  }
}