.service-hero {
  min-height: auto;
  background-size: 50%;
  background-position: 110% 15%;

  &__descr {
    width: 636px;
  }

  &-inner {
    margin-top: 60px;

    &::before {
      left: calc((50vw - 480px) * -1);
    }
  }

  &__list {
    &-item {
      margin: 0 auto;
    }
  }
}