.breadcrumbs-list {
  font-size: 16px;
}

.service-hero {

  // &__bg-img {
  //   width: 260px;
  //   height: 290px;
  //   display: block;
  //   top: 18%;
  //   right: calc(50vw - 334px);
  // }

  &__title {
    font-size: 46px;
  }

  &__descr {
    font-size: 18px;
  }

  &-inner {
    margin-top: 55px;

    &::before {
      left: calc((50vw - 325px) * -1);
    }
  }

  &__list {
    padding: 15px 30px;
    flex-flow: row wrap;
    font-size: 14px;
    justify-content: center;

    &-item {
      margin-right: 35px;
    }
  }
}