.tech-info-protection-stages {

  &__list {
    display: flex;
    justify-content: flex-start;
  }

  .card-new {
    width: 305px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 25px 35px;

    &:last-child {
      .card-new__img {
        width: 125px;
        height: 50px;
        right: 25px;
      }
    }

    &__img {
      width: 155px;
      height: 110px;
    }
  }
}