.testing-models {
  padding-top: 50px;
  padding-bottom: 50px;

  &__list {
    margin-top: 35px;
  }

  .card-new {
    width: 470px;
    padding: 30px 35px 100px;

    &::before {
      width: 320px;
      height: 280px;
    }

    &__title {
      font-size: 22px;
    }

    &__text {
      margin-top: 30px;
      font-size: 17px;
    }

    &__img {
      width: 137px;
      height: 60px;
      right: 35px;
      bottom: 30px;
    }
  }
}