
.contacts-sect__form  {
  .form__title,
  .name-inp-wrap,
  .company-inp-wrap {
    margin-bottom: 40px;
  }
  .form__btn {
    max-width: 190px;
    width: 100%;
    margin: 40px 20px 0 auto;
  }
  .form__checkinp-wrap {
    margin-top: 50px;
  }
}