.ftr {
  &__logo {
    width: 115px;
    height: 115px;
    margin-right: 50px;
    display: block;
  }

  &__sub-title {
    font-size: 24px;
  }

  &-home__nav {
    margin-left: auto;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px;

    >.nav__link {
      font-size: 24px;
    }

    .sub-menu {
      font-size: 16px;
    }
  }

  &__contacts {
    margin-left: auto;

    &-list {
      &-item {
        padding-left: 34px;
        font-size: 16px;

        &::before {
          width: 18px;
          height: 18px;
        }

        &.mail {
          &::before {
            height: 12px;
          }
        }
      }
    }
  }

  &__socials {
    width: 100%;
    margin-top: 20px;

    &-item {
      width: 40px;
      height: 40px;
      margin-right: 15px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.copyright {
  &-block {
    display: flex;
    >.forward_slash {
      text-indent: 0;
      >br {
        display: none;
      }
    }
  }
}

.dev {
  &-block {
    margin-bottom: 0;
    order: 9;
  }
}

.privacy-policy-link {
  align-self: auto;
}