.ftr {
  font-size: 14px;
  display: flex;
  flex-flow: wrap;

  &__top {
    margin-bottom: 30px;
  }

  &-home__nav {
    display: grid;
    grid-template-columns: 260px auto;
    grid-template-rows: 35px 35px 35px 35px 35px 35px 35px;
    margin-right: 40px;

    >.nav__link {
      &:last-child {
        margin-bottom: 0;
      }
    }

    .sub-menu {
      margin-bottom: 0;
      grid-column: 1/2;
      grid-row: 2/-1;
      width: 100%;
    }
  }
}

.copyright-block {
  line-height: 170%;
  >.forward_slash {
    text-indent: 18px;
  }
}

.dev {
  &-block {
    margin-bottom: 23px;
  }
  &-link {
    // transform: translateY(1px);
    font-size: 14px;
  }
  // &-logo {
  //   margin-left: 4px;
  //   width: 110px;
  //   height: 28px;
  //   object-fit: contain;
  // }
}
