.index-services-sect {

  &__title {
    margin: 0 0 10px;
  }
}

.index-services-block {
  margin-right: 21px;
}

.index-service-card {
  padding: 40px 25px;
  width: calc((100% - 20px) / 2);
  margin: 30px 20px 0 0;
  font-size: 15px;
  line-height: 167%;

  &::before {
    width: 275px;
    height: 265px;
    top: -60px;
  }

  &__title {
    font-size: 22px;
    line-height: 136%;
  }

  &__descr {
    font-size: 16px;
  }
}