.index-services-sect {
  padding-top: 60px;
  padding-bottom: 60px;
}

.index-service-card {
  padding: 45px 30px;

  &::before {
    width: 305px;
    height: 250px;
    top: -55px;
  }

  &__title {
    font-size: 24px;
  }

  &__descr {
    max-width: 327px;
    margin-top: 20px;
    line-height: 156%;
  }
}