.index-services-sect {
  padding-top: 40px;
  padding-bottom: 40px;

  &__title {
    margin: 0 0 40px;
  }
}

.index-services-block {
  &__dots {
    margin-top: 20px;
    .dot {
      transform: scale(1.25);
    }
  }
  .slick-list {
    overflow: hidden;
  }
}

.index-service-card {
  padding: 40px 20px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  &::before {
    width: 235px;
    height: 195px;
    border-radius: 50%;
    top: -35px;
    left: -35px;
    background: linear-gradient(180deg, #FCFCFC 0%, #F2F2F2 100%);
  }

  &__title {
    width: 275px;
    min-height: 75px !important;
    font: bold 19px/158% Lato, sans-serif;
    color: $purple-color;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 80px;
      height: 3px;
      background-color: $red-color;
    }
  }

  &__descr {
    margin-top: 15px;
    position: relative;
    color: $paragraph-color;
    font: 15px/167% Lato, sans-serif;
  }
}