.contacts-sect {
  padding-top: 75px;
  padding-bottom: 75px;
  justify-content: flex-start;
  &__form {
    max-width: 525px;
    margin-left: 0;
  }
  &__map {
    margin: 0;
    position: absolute;
    top: 0;
    // right: calc(50vw - 480px);
    // width: 409px;
    right: 0;
    width: calc((100vw - 992px)/(1319 - 992)*(575 - 425) + 425px);
    height: 330px;
  }
  &__logo {
    display: none;
  }
}

.contacts-block {
  &__title {
    font-size: 18px;
  }
  &__subtitle {
    max-width: 370px;
  }
}