.contacts-sect {
  &__form {
    max-width: 560px;
  }
  &__tel {
    margin: 0 auto 0 0;
  }
  &__address {
    margin: 0 auto 0 0;
    transform: translateX(-20px);
  }
  &__map {
    right: calc(50vw - 630px);
    width: 650px;
    // width: calc((100vw - 1440px)/(1920 - 1440)*(905 - 680) + 680px);
    height: 355px;
  }
  &__logo {
    display: inline-block;
    top: auto;
    bottom: 45px;
    right: calc(50vw - 595px);
  }
}

.dev-logo {
  width: 110px;
  height: 25px;
}
