.about-hero-sect {
  padding-bottom: 350px;
  background: url("#") center 90%/270px 255px no-repeat;
  color: #2B1345;
  position: relative;
}

.about-hero-sect__title {
  margin-bottom: 40px;
  font: bold 30px/100% Lato;
}

.about-hero-sect__descr {
  font: normal 15px/167% Lato;
}

.about-hero-sect__descr:nth-last-of-type(n+2) {
  margin-bottom: 35px;
}

.about-hero-sect__logo {
  width: 35px;
  height: 35px;
  position: absolute;
  left: calc(50vw - 140px);
  bottom: 225px;
}

@media (min-width: 767.98px) {
  .about-hero-sect {
    padding-bottom: 450px;
    background-size: 420px 395px;
  }
  .about-hero-sect__title {
    font-size: 42px;
  }
  .about-hero-sect__descr {
    font-size: 16px;
    line-height: 162%;
  }
  .about-hero-sect__logo {
    width: 64px;
    height: 64px;
    left: auto;
    right: calc(50vw - 325px);
    bottom: 0;
  }
}

@media (min-width: 991.98px) {
  .about-hero-sect {
    padding-bottom: 100px;
    background-size: 355px 335px;
    background-position: center right calc(50vw - 480px);
  }
  .about-hero-sect__title {
    font-size: 58px;
  }
  .about-hero-sect__descr {
    max-width: 595px;
  }
  .about-hero-sect__logo {
    left: auto;
    right: calc(50vw - 480px);
    bottom: 0;
  }
}

@media (min-width: 1319.98px) {
  .about-hero-sect {
    background-size: 485px 455px;
    background-position: center right calc(50vw - 535px);
  }
  .about-hero-sect__logo {
    width: 80px;
    height: 80px;
    right: calc(50vw - 630px);
  }
}
