@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, form, legend, fieldset, hr, figure, body {
  margin: 0;
  padding: 0;
  border: none;
}

ol, ul {
  list-style: none;
}

q {
  quotes: "«" "»";
}

input {
  font: inherit;
  padding: 0;
}

a, button {
  background: none;
  border: none;
  color: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
}

a,
pre,
button,
figure,
picture {
  display: inline-flex;
  font: inherit;
}

:focus {
  outline: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

[hidden] {
  display: none;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  font-display: swap;
  src: local("Segoe UI Semibold"), local("SegoeUI-SemiBold"), url("../fonts/SegoeUI-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.container {
  padding: 0 20px;
}

.contained {
  width: 100vw;
  margin-left: -20px;
}

@media (min-width: 575.98px) {
  .container {
    padding: 0 calc(50% - 270px);
  }
  .contained {
    margin-left: calc((50vw - 270px) * -1);
  }
}

@media (min-width: 767.98px) {
  .container {
    padding: 0 calc(50% - 325px);
  }
  .contained {
    margin-left: calc((50vw - 325px) * -1);
  }
}

@media (min-width: 991.98px) {
  .container {
    padding: 0 calc(50% - 480px);
  }
  .contained {
    margin-left: calc((50vw - 480px) * -1);
  }
}

@media (min-width: 1319.98px) {
  .container {
    padding: 0 calc(50% - 630px);
  }
  .contained {
    margin-left: calc((50vw - 630px) * -1);
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes translateToBottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes translateToBottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@-webkit-keyframes searching {
  0% {
    transform: rotate(0deg) translateX(2.5px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(2.5px) rotate(-360deg);
  }
}

@keyframes searching {
  0% {
    transform: rotate(0deg) translateX(2.5px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(2.5px) rotate(-360deg);
  }
}

body.wait {
  cursor: wait;
}

body.no-scroll {
  overflow: hidden;
}

#fake-scrollbar {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  pointer-events: none;
  z-index: 9999;
}

#fake-scrollbar.active {
  display: block;
}

.policy {
  min-width: 100%;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

#policy__pdf {
  display: block;
  width: inherit;
  min-width: inherit;
  height: inherit;
  font: normal 16px/120% Lato;
}

#policy__pdf > .container {
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
}

#policy__pdf a {
  color: #EB0029;
  border-bottom: 1px solid;
}

.breadcrumbs {
  padding-top: 20px;
  padding-bottom: 50px;
  font: normal 15px/100% Lato;
  color: #2B1345;
}

.breadcrumbs__text {
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .35s;
}

.breadcrumbs__link::after {
  content: '/';
  display: inline-block;
  margin: 0 2px;
  font: inherit;
}

.breadcrumbs__link.current {
  color: #EB0029;
  pointer-events: none;
}

.breadcrumbs__link.current::after {
  display: none;
}

.dev-link:active,
.privacy-policy-link:active,
.pdf-link:active,
.hdr__callback-btn:active {
  transform: scale(0.985);
}

.checkinp__btn:active {
  transform: scale(0.97);
}

.loader {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #2B1345;
  border-left-color: #2B1345;
  -webkit-animation: spin .5s linear infinite;
  animation: spin .5s linear infinite;
}

.loader-bg {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 12;
}

.loader-bg.active {
  display: flex;
  -webkit-animation: fadeIn .5s;
  animation: fadeIn .5s;
}

.hide {
  display: none !important;
}

div.wpcf7-response-output,
span.wpcf7-not-valid-tip,
.screen-reader-response {
  display: none !important;
}

body {
  font: 300 15px/100% Lato, sans-serif;
  position: relative;
}

button > svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

button > svg > path {
  transition: stroke .5s;
}

svg {
  fill: none;
  overflow: visible;
}

.circle-big,
.circle-medium,
.circle-small {
  position: absolute;
  -o-object-fit: contain;
  object-fit: contain;
  pointer-events: none;
}

.circle-big {
  width: 100px;
  height: 100px;
}

.circle-medium {
  width: 50px;
  height: 50px;
}

.circle-small {
  width: 37px;
  height: 37px;
}

.sect_purple {
  color: #fff;
  background: radial-gradient(19% 49% at 60% 57%, rgba(41, 25, 86, 0.2) 0%, #3A144D 100%), url("../img/pattern.png") top left/cover no-repeat, radial-gradient(149% 86% at 70% 40%, #3A144D 0%, rgba(41, 25, 86, 0.2) 100%), #110A26;
}

.sect-title {
  font: bold 24px/140% Lato;
  text-transform: uppercase;
}

.txt_u {
  position: relative;
}

.txt_u::after {
  content: '';
  display: inline-block;
  width: 80px;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -20%;
  background-color: #EB0029;
}

.txt_red {
  color: #EB0029;
}

.txt_red:active {
  transform: scale(0.965);
}

.link_red {
  color: #EB0029;
  border-bottom: 1px solid;
  transition: border-bottom-color .5s;
}

.logo__img {
  width: 140px;
  height: 30px;
  -o-object-fit: contain;
  object-fit: contain;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.forward_slash::before {
  content: '/';
  display: inline-block;
  margin-right: 0.2em;
  color: red;
  font: inherit;
  font-weight: bold;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn, .btn-ol {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.btn {
  min-width: 160px;
  height: 50px;
  background-color: #EB0029;
  border: 2px solid #EB0029;
  color: #fff;
  font: bold 16px/100% Lato;
  transition: background-color .35s, color .35s, transform .35s;
}

.btn:active {
  transform: scale(0.985) !important;
}

.btn-ol {
  min-width: 150px;
  height: 40px;
  font: bold 14px Lato;
  color: #000;
  border: 1px solid #E6E6E6;
  transition: background-color .5s, color .5s, border-color .5s;
}

.close-btn {
  width: 17.5px;
  height: 17.5px;
  padding: 2.5px;
  transition: color .4s;
}

.close-btn:active {
  transform: scale(0.95);
}

.close-btn__rect {
  width: 19px;
  height: 2px;
  fill: currentColor;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: rgba(40, 18, 57, 0.9);
  z-index: 5;
  display: none;
  -webkit-animation: fadeOut .5s;
  animation: fadeOut .5s;
}

.overlay.active {
  display: block;
  -webkit-animation: fadeIn .5s;
  animation: fadeIn .5s;
}

.menu-overlay {
  z-index: 2;
}

.thanks-popup, .callback-popup, .zoom-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  align-items: center;
  justify-content: center;
  display: none;
  -webkit-animation: fadeOut .5s;
  animation: fadeOut .5s;
}

.thanks-popup.active, .callback-popup.active, .zoom-popup.active {
  display: flex;
  -webkit-animation: fadeIn .5s;
  animation: fadeIn .5s;
}

.thanks-popup {
  z-index: 6;
}

.zoom-popup__content {
  background-color: #fff;
  overflow: auto;
}

.zoom-popup__content-wrap {
  color: #fff;
  max-width: 100vw;
  position: relative;
}

.zoom-popup__close {
  position: absolute;
  top: -27.5px;
  right: 10px;
}

.zoom-popup__img {
  padding: 25px;
  width: 575px;
  max-width: none;
  max-height: 71vh;
  -o-object-fit: contain;
  object-fit: contain;
}

.thanks-popup__content, .callback-popup__content {
  width: 280px;
  padding: 10px 40px 60px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
  color: #2B1345;
}

.thanks-popup__close, .callback-popup__close {
  margin: 0 -30px 0 auto;
}

.thanks-popup__title, .callback-popup__title {
  margin: 35px 0 40px;
  color: #EB0029;
  font: 500 24px/100% Lato;
}

.thanks-popup__descr, .callback-popup__descr {
  max-width: 200px;
  font: 16px/155% Lato;
}

.callback-popup__content {
  background-color: #fff;
}

.callback-popup__title {
  margin: 30px 0;
}

.callback-popup__descr {
  margin-bottom: 30px;
}

.callback-popup__form {
  text-align: left;
}

.callback-popup__form .form > label.invalid:nth-of-type(2) {
  transform: translateY(5px);
}

.callback-popup__form .checkinp__lbl > label.invalid {
  top: 120%;
  left: 0;
  text-align: center;
}

.callback-popup__form .checkinp__text {
  font-size: 9px;
}

.menu {
  display: none;
  -webkit-animation: fadeOut .5s;
  animation: fadeOut .5s;
  padding: 15px 20px 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  max-height: 100vh;
  max-height: calc(var(--vh, 1vh) * 100);
  overflow: auto;
  background-color: #fff;
  color: #2B1345;
  z-index: 4;
}

.menu__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 60px 0 auto;
  font: 500 18px/100% Lato;
}

.menu__nav.overline::before {
  top: -20px;
}

.menu__tel {
  margin-bottom: 20px;
  font-weight: 500;
}

.menu__request-call-btn {
  max-width: 170px;
  height: 36px;
  border-color: #EB0029;
  color: #2B1345;
  font-weight: 500;
}

.menu.active {
  display: flex;
  flex-direction: column;
  -webkit-animation: fadeIn .5s;
  animation: fadeIn .5s;
}

.menu > .logo {
  align-items: flex-start;
}

.menu__nav > .nav__link:nth-last-child(n+2) {
  margin-bottom: 15px;
}

.menu__nav > .nav__link.dropdown {
  margin-bottom: 0;
}

.menu__nav .sub-menu {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font: 300 15px/100% Lato;
}

.menu__nav .sub-menu > .nav__link {
  margin-top: 10px;
}

.menu__nav .sub-menu > .nav__link::before {
  content: '/';
  display: inline-block;
  margin-right: 0.2em;
  color: red;
  font: inherit;
  font-weight: bold;
}

.burger {
  width: 32px;
  height: 18px;
  position: relative;
  color: #fffefe;
  z-index: 5;
}

.burger__line {
  width: 25.5px;
  height: 2.5px;
  fill: currentColor;
  opacity: 1;
  transform-origin: center;
  transition: transform .5s, color .5s, opacity .5s;
  transform: rotate(0deg) translate(0%, 0%);
}

.burger.active > .burger__svg {
  overflow: visible;
  color: #2B1345;
}

.burger.active .burger__line {
  transition-delay: 0s;
}

.burger.active .top {
  transform: rotate(45deg) translate(-10%, 40%);
}

.burger.active .middle {
  transform: rotate(-45deg) translate(10%, -3%);
  opacity: 0;
}

.burger.active .bottom {
  transform: rotate(-45deg) translate(-10%, -45%);
}

.burger:active,
.nav__link:active {
  transform: scale(0.975);
}

label.invalid {
  font: normal 10px/150% Lato;
  color: #EB0029;
}

input.invalid {
  border-bottom-color: #EB0029;
}

.form__inp-wrap > label.invalid {
  display: block;
  height: 0;
  transform: translateY(5px);
}

.checkinp__lbl > label.invalid {
  position: absolute;
  top: 150%;
  left: 30px;
  width: 200px;
}

.checkinp {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
}

.checkinp:checked ~ .checkinp__pseudo::after {
  opacity: 1;
}

.checkinp-wrap {
  display: flex;
  align-items: flex-start;
}

.checkinp__lbl {
  position: relative;
  margin-right: 10px;
}

.checkinp__pseudo {
  cursor: pointer;
  display: inline-flex;
  width: 20px;
  height: 20px;
  color: red;
  border-radius: 2px;
  border: 1px solid;
  font-size: 0;
}

.checkinp__pseudo::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/check.svg") center/cover no-repeat;
  opacity: 0;
  transition: opacity .4s;
  border-radius: inherit;
  pointer-events: none;
}

.checkinp__text {
  display: inline-block;
  max-width: 220px;
  font-size: 10px;
  line-height: 150%;
  color: #4D4D4D;
}

.checkinp__btn {
  transition: border-bottom-color .35s, color .35s;
  border-bottom: 1px solid;
}

.form__title {
  margin-bottom: 40px;
}

.form__inp {
  width: 100%;
  border: none;
  background: none;
  padding-bottom: 8px;
  font-size: 14px;
  color: #4D4D4D;
  border-bottom: 1px solid #D4D4D4;
  transition: border-bottom-color .35s;
}

.form__inp::-webkit-input-placeholder {
  font: inherit;
  color: #878787;
  -webkit-transition: color .35s;
  transition: color .35s;
}

.form__inp::-moz-placeholder {
  font: inherit;
  color: #878787;
  -moz-transition: color .35s;
  transition: color .35s;
}

.form__inp:-ms-input-placeholder {
  font: inherit;
  color: #878787;
  -ms-transition: color .35s;
  transition: color .35s;
}

.form__inp::-ms-input-placeholder {
  font: inherit;
  color: #878787;
  -ms-transition: color .35s;
  transition: color .35s;
}

.form__inp::placeholder {
  font: inherit;
  color: #878787;
  transition: color .35s;
}

.form__inp.valid {
  border-bottom-color: #291956;
}

.form__inp:focus {
  border-bottom-color: #291956;
}

.form__inp:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0);
}

.form__inp:focus::-moz-placeholder {
  color: rgba(0, 0, 0, 0);
}

.form__inp:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0);
}

.form__inp:focus::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0);
}

.form__inp:focus::placeholder {
  color: rgba(0, 0, 0, 0);
}

.form__checkinp-wrap {
  margin-top: 30px;
  padding-left: 8px;
}

.form__btn {
  max-width: 150px;
  display: block;
  margin: 40px auto 0;
}

.name-inp-wrap,
.company-inp-wrap,
.email-inp-wrap,
.tel-inp-wrap {
  margin-bottom: 30px;
}

.dot {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.dot__inside {
  fill: currentColor;
  transition: fill .35s;
}

.dot__outline {
  stroke: #EB0029;
  stroke-width: 0;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), stroke-width 0.25s;
}

li.slick-active .dot__outline {
  stroke-width: 2;
  transform: scale(1);
}

li.slick-active > button {
  cursor: default;
}

.dots {
  display: none;
}

.dots > li:nth-last-child(n+2) {
  margin-right: 5px;
}

.dots button {
  width: 15px;
  height: 15px;
}

.slick-list ~ .dots {
  display: flex;
  justify-content: center;
}

.slick-slider {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
}

.slick-list {
  width: 100%;
  position: relative;
}

.slick-list.draggable {
  cursor: -webkit-grab;
  cursor: grab;
}

.slick-list.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.slick-track {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
  left: 0;
}

.slick-track::after, .slick-track::before {
  display: table;
  content: '';
}

.slick-track::after {
  clear: both;
}

.slick-dotted {
  display: flex;
  flex-direction: column;
}

.slick-dotted > .dots {
  order: 10;
}

.slick-track,
.slick-list {
  transform: translate3d(0, 0, 0);
}

.card {
  border: 1px solid #EBEBEB;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  display: block;
  background: url("../img/card-oval.svg") center/cover no-repeat;
  z-index: 0;
}

.card__img {
  z-index: 1;
}

.card__title {
  margin-top: 20px;
  font: bold 20px/150% Lato;
  color: #2B1345;
  z-index: 1;
}

.card__descr, .card__list {
  margin-top: 5px;
  font: normal 16px/160% Lato;
  color: #4D4D4D;
  z-index: 1;
}

.card__descr:nth-child(3), .card__list:nth-child(3) {
  margin-top: 20px;
}

.card__list-item::before {
  content: '—';
  display: inline-block;
  margin-right: 5px;
  font: inherit;
}

.card_one-col, .card_two-col {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card_arrow::after, .card_sign::after {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  z-index: 1;
}

.card_arrow::after {
  width: 5px;
  height: 10px;
  background: url("../img/red-arrow.svg") center/contain no-repeat;
}

.card_sign::after {
  content: attr(data-sign);
  max-width: 100px;
  color: #EB0029;
  font: normal 12px/100% Lato;
  text-align: right;
}

.activities-sect {
  padding-top: 100px;
}

.activities-sect__title {
  margin: 0 0 50px;
}

.activities-sect__activities {
  font: 15px/167% Lato;
  color: #4d4d4d;
}

.activity {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.activity:nth-last-child(n+2) {
  margin: 0 0 80px;
}

.activity__img {
  margin: 0 0 50px;
  max-width: 85%;
}

.activity__title {
  margin: 0 0 10px;
  display: block;
  font: bold 20px/150% Lato;
  color: #291956;
}

.activity__descr > span + br {
  display: none;
}

.activity__descr > span {
  display: flex;
}

.activity__descr > span > .txt_red {
  margin: -1px 5px 0 0;
}

.index-services-block__dots {
  margin-top: 20px;
}

.index-services-block__dots .dot {
  transform: scale(1.25);
}

.index-services-block .slick-list {
  overflow: hidden;
}

.index-services-sect {
  padding-top: 60px;
  padding-bottom: 60px;
}

.index-services-sect__title {
  margin: 0 0 30px;
}

.index-service-card {
  padding: 30px 20px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  font: 12px/208% Lato;
}

.index-service-card::before {
  width: 225px;
  height: 155px;
  top: 0;
  left: -35px;
  background-size: contain;
}

.index-service-card__title {
  font: bold 18px/167% Lato;
  color: #2B1345;
  position: relative;
}

.index-service-card__descr {
  margin-top: 20px;
  max-width: 300px;
  position: relative;
}

.index-service-card__descr::before {
  margin: 0 0 20px;
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: #EB0029;
}

.index-about-sect {
  padding-top: 40px;
}

.index-about-sect__text {
  margin: 0 0 30px;
  font: 300 14px/150% Lato;
}

.index-about-sect__title {
  margin: 0 0 30px;
}

.index-about-sect__img {
  margin: auto;
  display: block;
}

.facts-sect {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f3f3f3;
}

.facts-sect__title {
  margin: 0 0 30px;
  color: #2B1345;
}

.facts-sect__list {
  margin-top: -60px;
  max-width: 400px;
  display: flex;
  flex-flow: column;
  font: 14px/150% Lato;
  color: #4d4d4d;
}

.facts-sect__li {
  margin-top: 60px;
}

.facts-sect__li-img {
  width: 60px;
  height: 60px;
  float: left;
}

.facts-sect__li-title {
  margin: 0 0 10px 80px;
  display: block;
  font: bold 24px/150% Lato;
  color: #EB0029;
}

.facts-sect__li-descr {
  margin-left: 80px;
}

.index-news-sect {
  padding-top: 60px;
  padding-bottom: 60px;
}

.index-news-sect__title {
  margin: 0 0 30px;
}

.index-news-sect__list {
  font: 14px/150% Lato;
  color: #4d4d4d;
}

.index-news-sect__li {
  padding: 0 20px 25px;
  display: flex;
  flex-flow: column;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  background: #FBFBFB;
  overflow: hidden;
}

.index-news-sect__li-img {
  margin: 0 0 20px -20px;
  width: calc(100% + 40px);
  max-width: none;
}

.index-news-sect__li-title {
  margin: 0 0 10px;
  font: bold 18px/150% Lato;
  color: #2B1345;
}

.index-news-sect__li-date {
  margin: auto 0 0 auto;
  padding-top: 25px;
  font: 12px/120% lato;
  color: #878787;
}

.index-news-sect__link {
  margin: 20px auto 0;
  display: flex;
  width: 200px;
  height: 45px;
}

.index-news-sect__dots {
  margin-top: 20px;
}

.index-news-sect__dots .dot {
  transform: scale(1.25);
}

.index-news-sect .slick-list {
  overflow: hidden;
}

.cybersecurity-sect {
  padding-top: 60px;
  padding-bottom: 60px;
  font: 14px/150% Lato;
}

.cybersecurity-sect__title {
  margin: 0 0 30px;
}

.cybersecurity-sect__list {
  margin-top: 40px;
  max-width: 400px;
}

.cybersecurity-sect__li:not(:last-child) {
  margin: 0 0 30px;
}

.cybersecurity-sect__li-title {
  margin: 0 0 20px;
  display: block;
  font: bold 18px/150% Lato;
  color: #2B1345;
}

.cybersecurity-sect__li-descr::before {
  content: '';
  display: block;
  margin: 0 0 10px;
  width: 60px;
  height: 3px;
  background: #EB0029;
}

.index-clients-sect {
  padding-bottom: 60px;
}

.index-clients-sect__list {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.index-clients-sect__li-img {
  margin-top: 30px;
  width: 160px;
  -o-object-fit: contain;
  object-fit: contain;
}

@-webkit-keyframes showpreloader {
  from {
    opacity: 0;
    transform: translate3d(0, 60vh, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showpreloader {
  from {
    opacity: 0;
    transform: translate3d(0, 60vh, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.preloader.show {
  -webkit-animation: showpreloader .25s;
  animation: showpreloader .25s;
  display: flex;
}

@-webkit-keyframes hidePreloader {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes hidePreloader {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 100%, 0);
  }
}

.preloader.hidden {
  -webkit-animation: hidePreloader .5s;
  animation: hidePreloader .5s;
}

.preloader.hide {
  display: none;
}

.hdr {
  padding-top: 15.5px;
  padding-bottom: 15.5px;
  background-color: #2B1345;
  position: relative;
  color: #fff;
  transition: padding .5s;
  z-index: 3;
}

.hdr__tel, .hdr__callback-btn, .hdr > .nav {
  display: none;
}

.hdr.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-animation: translateToBottom .5s;
  animation: translateToBottom .5s;
}

.hdr.fixed .logo__img {
  width: 98px;
  height: 21px;
}

.logo__img {
  width: 140px;
  height: 30px;
  transition: width .35s, height .35s;
}

.menu__link,
.nav__link {
  line-height: 130%;
  transition: color .35s;
}

.menu__link.current,
.nav__link.current {
  border-bottom: 1px solid #EB0029;
  pointer-events: none;
}

.nav__link.dropdown.current {
  border-bottom: none;
  pointer-events: auto;
}

.nav__link.dropdown.current > .nav__link-text {
  border-bottom: 1px solid #EB0029;
}

.nav .dropdown {
  display: inline-flex;
  align-items: center;
}

.nav .dropdown::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 6px;
  margin-left: 7.5px;
  transform-origin: 50% 70%;
  background: url("../img/polygon-top.svg") center/contain no-repeat;
  transition: transform .5s;
}

.nav .dropdown.active::after {
  transform: rotate(180deg);
}

.nav .dropdown.nav__link::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 50px;
  left: calc(50vw - 430px);
  width: 950px;
  height: 100%;
  max-height: 0;
  transition: max-height .5s;
  cursor: default;
}

.nav .sub-menu {
  width: 100%;
  max-height: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0;
  background: linear-gradient(to bottom, rgba(32, 16, 60, 0.9) 50px, transparent 50px) center/cover no-repeat;
  transition: max-height .5s;
  overflow: hidden;
  pointer-events: none;
}

.nav .sub-menu::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 100%;
  left: 0;
  width: 100%;
  height: 20px;
}

.nav .sub-menu > .nav__link {
  margin-bottom: 20px;
}

.nav .sub-menu > .nav__link:nth-last-child(n+2) {
  margin-right: 100px;
}

.hero__circle-big {
  right: calc((100vw - 320px)/(575 - 320)*(135 - -5) + -5px);
  top: 35px;
}

.hero__circle-medium {
  right: calc((100vw - 320px)/(575 - 320)*(50 - -20) + -20px);
  top: 130px;
}

.hero__circle-small {
  right: calc((100vw - 320px)/(575 - 320)*(230 - -5) + -5px);
  top: 240px;
}

.hero-sect {
  display: flex;
  padding-top: 65px;
  padding-bottom: 25px;
  background: url("../img/pattern.png") center/cover no-repeat, radial-gradient(30% 22% at 65% 77%, rgba(58, 20, 77, 0.5) 15.62%, rgba(124, 31, 43, 0.1) 100%), radial-gradient(150% 88% at 70% 40%, #3A144D 0%, rgba(41, 25, 86, 0.2) 100%), #110A26;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.hero-sect > .hero-sect__slide {
  width: 100%;
  flex-shrink: 0;
}

.hero-sect__title {
  font: bold 28px/130% Lato;
}

.hero-sect__descr {
  margin: 20px 0 40px;
  font: 300 15px/165% Lato;
}

.hero-sect__btn {
  padding: 0 10px;
  min-width: 208px;
  height: 38px;
}

.hero-sect__img {
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  bottom: -20px;
  right: 0;
  z-index: -1;
}

.hero-sect__slide {
  position: relative;
}

.hero-sect__dots {
  position: relative;
  z-index: 1;
}

.hero-sect__arrow {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1px;
  width: 50px;
  height: 25px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  position: absolute;
  left: 20px;
  bottom: 0;
  background-color: #fff;
}

.hero-sect__arrow > .darr {
  width: 16px;
  height: 10px;
  margin-top: auto;
}

.hero-sect__arrow > .darr > .darr__path {
  stroke: #190F33;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.hero-sect.slick-slider > .hero-sect__title {
  display: flex;
  align-items: center;
  min-height: 72px;
}

.hero-sect.slick-slider > .hero-sect__descr {
  min-height: 144px;
}

.hero-sect.slick-slider > .hero-sect__btn {
  margin-bottom: 85px;
}

h2.hero-sect__title {
  font-size: 28px;
}

.breadcrumbs-list {
  font: 12px/250% Lato, sans-serif;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
}

.breadcrumbs-list::-webkit-scrollbar {
  display: none;
}

.breadcrumbs-list__item {
  white-space: nowrap;
  margin-right: 10px;
}

.breadcrumbs-list__item::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  width: 4px;
  height: 8px;
  background: url("../img/bread-arrow-icon.svg") no-repeat center/cover;
}

.breadcrumbs-list__item:last-child {
  margin-right: 0;
}

.breadcrumbs-list__item:last-child::after {
  display: none;
}

.breadcrumbs-list__item--current {
  color: #EB0029;
}

.service-hero {
  min-height: 570px;
  position: relative;
  background-color: #2f133f;
  background-repeat: no-repeat;
  color: #fff;
}

.service-hero__title {
  margin: 30px 0;
  font: 30px/133% Lato, sans-serif;
}

.service-hero__descr {
  font: 14px/179% Lato, sans-serif;
  margin: 0 0 30px;
}

.service-hero__btn {
  min-width: auto;
  width: 274px;
}

.service-hero-inner {
  margin: 35px 0 0;
  position: relative;
}

.service-hero-inner::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 50%;
  left: -20px;
  bottom: 0;
  background: #fff;
}

.service-hero__list {
  padding: 17px;
  background-color: #fff;
  border: 1px solid rgba(47, 19, 63, 0.3);
  border-radius: 8px;
  position: relative;
  font: 13px/200% Lato, sans-serif;
  color: #291956;
  display: flex;
  flex-flow: column;
}

.service-hero__list-item {
  position: relative;
  margin: 0 auto 5px 0;
}

.service-hero__list-item.active::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #EB0029;
}

.best-in-business {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #2F133F;
}

.best-in-business__title {
  color: #fff;
}

.best-in-business__list {
  margin: 40px 0 0;
  color: #fff;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.best-in-business__list-item {
  min-width: 210px;
  max-width: 280px;
  margin-top: 40px;
  margin-right: 55px;
}

.best-in-business__list-item:first-child {
  margin-top: 0;
}

.best-in-business__list-item .header {
  display: flex;
  margin: 0 0 15px;
}

.best-in-business__list-item .img-wrapper {
  margin-right: 20px;
  width: 80px;
  height: 80px;
}

.best-in-business__list-item .img-wrapper img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.best-in-business__list-item .title {
  font: 700 36px/150% Lato, sans-serif;
  color: #EB0029;
}

.best-in-business__list-item .descr {
  max-width: 280px;
  font: 400 16px/150% Lato, sans-serif;
}

.trust-sect {
  padding-top: 95px;
  padding-bottom: 95px;
  overflow: hidden;
}

.trust-sect__title {
  margin-bottom: 30px;
}

.features-block__dots {
  margin-top: 20px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  height: 285px;
  padding: 20px;
}

.feature-card::before {
  width: 340px;
  height: 255px;
  background-image: url("../img/services-oval.svg");
}

.feature-card:nth-last-child(n+2) {
  margin-right: 20px;
}

.feature-card:nth-child(4n+1)::before {
  top: -20px;
  left: -75px;
}

.feature-card:nth-child(4n+2)::before {
  top: -5px;
  left: -15px;
}

.feature-card:nth-child(4n+3)::before {
  top: -65px;
  right: -110px;
}

.feature-card:nth-child(4n+4)::before {
  top: -45px;
  right: -45px;
}

.feature-card__img {
  width: 50px;
  height: 50px;
  z-index: 1;
}

.feature-card__title {
  max-width: 100%;
  display: flex;
  align-items: center;
  height: 55px;
  margin: 25px 0 15px;
  font: bold 23px/125% Lato;
  color: #2B1345;
  flex-shrink: 0;
  z-index: 1;
}

.feature-card__descr {
  max-width: 100%;
  font: normal 15px/165% Lato;
  color: #4D4D4D;
  z-index: 1;
}

.invite-sect {
  padding-top: 35px;
  padding-bottom: 40px;
  background: url("#") center/cover no-repeat, url("#") center/cover no-repeat, #F8F8F8;
}

.invite-sect__title {
  text-transform: none;
  max-width: 250px;
}

.invite-sect__form {
  max-width: 310px;
  margin: auto;
}

.service-sect {
  padding-top: 75px;
  padding-bottom: 80px;
  overflow: hidden;
  color: #2B1345;
}

.service-sect__title {
  margin-bottom: 30px;
}

.services-block__dots {
  margin-top: 30px;
}

.service-card {
  padding: 20px;
  height: 445px;
  width: 280px;
}

.service-card::before {
  width: 320px;
  height: 240px;
  top: -5px;
  background-image: url("../img/services-oval.svg");
}

.service-card:nth-child(5n+1)::before {
  left: -75px;
}

.service-card:nth-child(5n+2)::before {
  right: -20px;
}

.service-card:nth-child(5n+3)::before {
  top: -30px;
  right: -75px;
}

.service-card:nth-child(5n+4)::before {
  top: -40px;
  right: -60px;
}

.service-card:nth-child(5n+5)::before {
  top: -40px;
}

.service-card:nth-last-child(n+2) {
  margin-right: 20px;
}

.service-card__img {
  width: 50px;
  height: 50px;
  z-index: 1;
}

.service-card__title {
  max-width: 180px;
  height: 48px;
  font: bold 20px/120% Lato;
  color: #291956;
  z-index: 1;
}

.service-card__descr {
  max-width: 100%;
  font: 15px/165% Lato;
  color: #4D4D4D;
  z-index: 1;
}

.service-card__descr::before {
  content: '';
  box-sizing: border-box;
  margin-bottom: 20px;
  display: block;
  width: 80px;
  height: 3px;
  background-color: red;
}

.service-card__link {
  margin-top: auto;
  transition: transform .15s, background-color .5s, color .5s, border-color .5s;
}

.service-card__link:active {
  transform: scale(0.965);
}

.contacts-sect {
  padding-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FAFAFA;
}

.contacts-sect::after {
  content: '';
  order: 2;
  width: 100%;
}

.contacts-sect__form {
  max-width: 280px;
  width: 100%;
  margin: 0 auto 40px;
  order: 1;
}

.contacts-sect__map {
  width: 100vw;
  flex-shrink: 0;
  height: 210px;
  order: 6;
}

.contacts-sect__email {
  margin-right: 22px;
  order: 3;
}

.contacts-sect__tel {
  order: 4;
}

.contacts-sect__address {
  margin: 35px 0 15px;
  order: 5;
}

.contacts-sect__logo {
  display: none;
}

.contacts-block__title {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font: bold 16px/100% Lato;
}

.contacts-block__subtitle {
  color: #5D5D5D;
  font: normal 14px/180% Lato;
  display: inline-block;
  max-width: 280px;
  transition: color .35s;
}

.ftr {
  padding-top: 45px;
  padding-bottom: 35px;
  background-color: #110A26;
  color: #fff;
  font-size: 10px;
}

.ftr__logo {
  width: 161px;
  height: 161px;
  display: none;
}

.ftr__sub-title {
  margin-bottom: 15px;
  font: 20px/125% Lato, sans-serif;
}

.ftr-home__nav {
  display: flex;
  flex-flow: column;
}

.ftr-home__nav .nav__link {
  border-bottom: none !important;
}

.ftr-home__nav > .nav__link {
  font: 20px/125% Lato, sans-serif;
  margin-bottom: 15px;
}

.ftr-home__nav > .nav__link:last-child {
  margin-bottom: 30px;
}

.ftr-home__nav .sub-menu {
  margin-bottom: 30px;
  font: 14px/204% Lato, sans-serif;
  display: flex;
  flex-flow: column;
}

.ftr-home__nav .sub-menu > .nav__link {
  margin-bottom: 15px;
}

.ftr-home__nav .sub-menu > .nav__link:last-child {
  margin-bottom: 0;
}

.ftr__contacts-list-item {
  position: relative;
  padding-left: 25px;
  margin-bottom: 7px;
  font: 14px/179% Lato, sans-serif;
}

.ftr__contacts-list-item::before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ftr__contacts-list-item.phone::before {
  background-image: url("../img/phone-icon.svg");
}

.ftr__contacts-list-item.mail::before {
  top: 9px;
  height: 10px;
  background-image: url("../img/mail-icon.svg");
}

.ftr__contacts-list-item span, .ftr__contacts-list-item a {
  display: block;
}

.ftr__socials {
  margin-top: 10px;
}

.ftr__socials-item {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ftr__socials-item.icon_instagram {
  background-image: url("../img/inst-icon.svg");
}

.ftr__socials-item.icon_linkedin {
  background-image: url("../img/linkedin-icon.svg");
}

.ftr__socials-item.icon_habr {
  background-image: url("../img/H-icon.svg");
}

.ftr__socials-item.icon_facebook {
  background-image: url("../img/fb-icon.svg");
}

.ftr__socials-item.icon_telegram {
  background-image: url("../img/tg-icon.svg");
}

.ftr__socials-item a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ftr__bottom {
  margin-top: 30px;
  flex: 1 0 100%;
}

.ftr .forward_slash::before {
  margin: 0 5px;
  color: #fff;
}

.ftr .forward_slash > br {
  display: none;
}

.dev-block {
  margin: 10px 0;
}

.dev-link {
  color: #fff;
  transition: color .5s;
  font: 10px/100% Segoe UI;
  letter-spacing: 0.08em;
}

.privacy-policy-link {
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .5s, color .5s;
  -ms-grid-column-align: start;
  justify-self: start;
}
