.contact-us-new {

  &__inner {
    width: 372px;
  }

  &__form {
    width: 522px;
    margin-left: auto;
    padding: 45px 30px;
  }

  .form__inp {
    width: 100%;
  }

  .form__inp-wrap {
    width: 100%;
  }
}