$blue-purple-color: #291956;
$purple-color: #2B1345;
$ftr-bg-color: #110A26;

$overlay-bg-color: rgba(40, 18, 57, 0.9);

$red-color: #EB0029;
$dark-red-color: red;

$black-color: #000;
$dark-grey-color: #323232;
$paragraph-color: #4D4D4D;

$white-color: #fff;
$grey-color: #F8F8F8;

$hero-bg-color: #110A26;