.testing-object {
  padding-top: 40px;
  padding-bottom: 40px;

  &__list {
    margin-top: 40px;
  }

  &-item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    &__img {
      width: 50px;
      height: 50px;
      margin-right: 25px;
      display: inline-block;
    }

    &__title {
      width: 200px;
      height: 50px;
      display: inline-block;
      position: relative;
      font: 17px/120% Lato, sans-serif;
      vertical-align: bottom;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80px;
        height: 3px;
        background-color: $red-color;
      }
    }

    &__text {
      margin-top: 20px;
      color: $paragraph-color;
      font: 15px/167% Lato, sans-serif;
    }
  }
}