.testing-object {
  &-item {
    margin-bottom: 35px;

    &__img {
      margin-right: 30px;
    }

    &__title {
      width: 557px;
      font-size: 24px;
    }

    &__text {
      padding-left: 80px;
      margin-top: 10px;
      font-size: 16px;
    }
  }
}