.customer-gets {
  padding-top: 60px;
  padding-bottom: 60px;

  &__body {
    margin-top: 60px;
  }

  &__inner {
    width: 783px;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__img {
    width: 366px;
    height: 191px;
    margin-right: 90px;
  }
}