@import 'assets/colors';
@import 'assets/variables';
@import 'assets/mixins';

/* HERO SECTION START */

  .hero-sect {
    &__title {
      height: auto;
      font-size: 30px;
    }
    &__descr {
      margin: 5px 0 35px;
      max-width: 260px;
      line-height: 167%;
    }
    &__btn {
      margin-bottom: 125px;
    }

    &__slide {
      z-index: 0;
    }
    &__img {
      width: calc((100vw - 320px)/(575 - 320)*(345 - 225) + 225px);
    }
  }

/* HERO SECTION END */



/* DESCR SECTION START */

 @import "blocks/descr/descr.scss";

/* DESCR SECTION END */



/* STAGES SECTION START */

  #services {
    .card {
      &::before {
        width: 410px;
        height: 275px;
        transform: rotate(-17.5deg);
        top: -150px;
        right: -235px;
      }
    }
    .card__descr, .card__list {
      font-size: 15px;
    }
  }

  .stages-sect {
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
    &__title {
      margin-bottom: 40px;
      max-width: 300px;
    }
  }

  .stages-block {
    display: flex;
    .card {
      width: 280px;
      &:nth-last-child(n+2) {
        margin-right: 20px;
      }
    }
    &__dots {
      margin-top: 50px;
    }

    &_four-children {
      .card {
        width: 280px;
      }
    }

    &_three-children {
      .card {
        width: calc((100vw - 320px)/(575 - 320)*(350 - 280) + 280px); // 280 to 350
      }
    }

    &_two-children {
      .card {
        width: calc((100vw - 320px)/(575 - 320)*(540 - 280) + 280px); // 280 to 540
      }
    }
  }

/* STAGES SECTION END */



/* RISKS SECTION START */

  .risks-sect {
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    background-color: $grey-color2;

    &__title {
      margin-bottom: 30px;
    }
    &__descr {
      margin-bottom: 25px;
      line-height: 167%;
      &:last-of-type {
        margin-bottom: 35px;
      }
    }

    &__img {
      width: calc((100vw - 320px)/(575 - 320)*(350 - 280) + 280px);
      min-width: 280px;
      min-height: 200px;
      object-fit: contain;
      &-wrap {
        position: relative;
        display: flex;
        justify-content: center;
        &::after {
          display: none;
          content: '';
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(-0%, -50%) rotate(-60deg);
          width: 30px;
          height: 50px;
          background: url('../img/zoom-icon.svg') center/contain no-repeat;
          z-index: 1;
          pointer-events: none;
        }
        &.img_zoom {
          >.risks-sect__img {
            opacity: .5;
          }
          &::after {
            display: inline-block;
          }
        }
      }
    }
  }

  .pdf-link {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 50px;
    &__img {
      grid-row: 1/span 2;
      grid-column: 1;
      margin-right: 15px;
      opacity: .2;
      transition: opacity .25s;
    }
    &__title {
      grid-row: 1;
      grid-column: 2;
      align-self: center;
      font: bold 15px/100% Lato;
      color: #4C4C4C;
      border-bottom: 1px solid transparent;
      transition: border-bottom-color .25s;
    }
    &__size {
      grid-row: 2;
      grid-column: 2;
      align-self: start;
      font: 300 12px/100% Lato;
      color: #5D5D5D;
    }
  }

  .risks-sect__risks-block {
    margin-top: 45px;
  }

  .risks-block {
    &__sign {
      display: block;
      margin: 15px auto 0;
      max-width: 280px;
      text-align: center;
      color: #878787;
      font: normal 10px/160% Lato;
    }
    >.dots {
      display: flex;
      margin: 20px auto 80px;
    }
  }

  .text-block {
    text-align: center;
    &__number {
      display: block;
      margin-bottom: 15px;
      color: #DADADA;
      font: bold 56px/100% Lato;
    }
    &__descr {
      color: #4D4D4D;
      font: normal 15px/167% Lato;
    }
  }

/* RISKS SECTION END */

@media (min-width: 419.98px) {

}


@media (min-width: 575.98px) {

  .sect-title {
    font-size: 32px;
  }

  /* HERO SECTION START */

    .hero-sect {
      &__img {
        width: 320px;
      }
    }

  /* HERO SECTION END */



  /* DESCR SECTION START */

    @import "blocks/descr/descr.576.scss";

  /* DESCR SECTION END */



  /* STAGES SECTION START */

    #services {
      .card {
        &::before {
          top: -110px;
          right: 0;
        }
      }
    }

    .stages-sect {
      &__title {
        max-width: none;
      }
    }

    .stages-block {
      &_two-children {
        .card {
          width: 540px;
        }
      }
    }

  /* STAGES SECTION END */



  /* RISKS SECTION START */

    .risks-sect {
      &__img {
        opacity: 1;
        width: 100%;
        max-width: 100%;
        &-wrap {
          &::after {
            display: none;
          }
        }
      }
    }

    .risks-sect__risks-block {
      margin-top: 76px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .risks-block {
      &__sign {
        order: 10;
        font-size: 14px;
        max-width: none;
        margin: 10px auto 90px;
      }
    }

    .text-block {
      width: 40%;
      text-align: left;
      margin-bottom: 40px;
      &__number {
        >.units_small {
          font-size: 20px;
        }
      }
    }

  /* RISKS SECTION END */
}


@media (min-width: 767.98px) {

  /* HERO SECTION START */

    .hero-sect {
      padding-bottom: 310px;
      &__descr {
        max-width: 480px;
        margin: 30px 0 50px;
      }
      &__img {
        width: 510px;
        bottom: -270px;
      }
    }

  /* HERO SECTION END */



  /* DESCR SECTION START */

    @import "blocks/descr/descr.768.scss";

  /* DESCR SECTION END */



  /* STAGES SECTION START */

    #services {
      .card__img {
        width: 100px;
        height: 100px;
      }
    }

    .stages-block {
      &__dots {
        margin-top: 30px;
      }

      &_two-children {
        .card {
          width: 650px;
          &:nth-last-child(n+2) {
            margin-right: 60px;
          }
        }
      }

      &_three-children, &_four-children  {
        .card {
          width: 315px;
        }
      }
    }

  /* STAGES SECTION END */


  /* RISKS SECTION START */
    .pdf-link {
      &__title {
        font-size: 16px;
      }
      &__size {
        font-size: 14px;
      }
    }

  /* RISKS SECTION END */
}

@media (min-width: 991.98px) {

  /* HERO SECTION START */

    .hero-sect {
      padding-bottom: 275px;
      &__img {
        width: 680px;
      }
    }

  /* HERO SECTION END */



  /* DESCR SECTION START */

    @import "blocks/descr/descr.992.scss";

  /* DESCR SECTION END */



  /* STAGES SECTION START */

    .stages-sect {
    }

    .stages-block {
      &__dots {
        margin-top: 40px;
      }

      &_four-children {
        .card {
          width: calc((960px - 40px) / 3);
        }
      }

      &_two-children {
        .card {
          width: 470px;
          &:nth-last-child(n+2) {
            margin-right: 20px;
          }
        }
      }

      &_three-children {
        .card {
          width: 470px;
        }
      }
    }

  /* STAGES SECTION END */



  /* RISKS SECTION START */

    .risks-sect {
      padding-top: 40px;
      padding-bottom: 40px;
      display: grid;
      grid-template-rows: auto auto auto auto 1fr;
      grid-template-columns: 1fr auto;
      &__title {
        grid-row: 1;
        grid-column: 1;
        margin-bottom: 50px;
      }
      &__descr {
        grid-row: 2;
        grid-column: 1;
        &:nth-of-type(2) {
          grid-row: 3;
        }
        &:nth-of-type(3) {
          grid-row: 4;
        }
        &:nth-of-type(4) {
          grid-row: 5;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      &__img {
        width: auto;
        &-wrap {
          margin-left: 50px;
          grid-row: 2/span 5;
          grid-column: 2;
        }
      }
    }

    .risks-sect__risks-block {
      margin: 0 0 100px 45px;
      grid-row: 2/span 4;
      grid-column: 2;
      width: 475px;
    }

    .risks-block {
      &__sign {
        margin: 15px 0 0 0;
      }
    }

    .pdf-link {
      grid-row: 5;
      grid-column: 1;
      justify-self: start;
      align-self: start;
      margin: 25px 0 0;
    }

  /* RISKS SECTION END */
}

@media (min-width: 1319.98px)  {

  /* HERO SECTION START */

    .hero-sect {
      padding-bottom: 135px;
      &__img {
        bottom: -70px;
        right: calc(50vw - 630px);
      }
    }

  /* HERO SECTION END */



  /* DESCR SECTION START */

    @import "blocks/descr/descr.1320.scss";

  /* DESCR SECTION END */



  /* STAGES SECTION START */

    .stages-sect {
      padding-top: 60px;
      padding-bottom: 60px;

      &__title {
        margin-bottom: 60px;
      }
    }

    .stages-block {
      .slick-list {
        overflow: hidden;
      }

      &_two-children {
        .card {
          width: calc((1260px - 20px) / 2);
        }
      }

      &_three-children {
        .card {
          width: calc((1260px - 40px) / 3);
        }
      }

      &_four-children {
        .card {
          width: calc((1260px - 60px) / 4);
        }
      }
    }

  /* STAGES SECTION END */


  /* RISKS SECTION START */

    .risks-sect {
      padding-top: 60px;
      padding-bottom: 60px;

      &__img {
        &-wrap {
          grid-row: 1/span 5;
          margin-left: 90px;
        }
      }
      &__risks-block {
        margin: 0 90px 100px 175px;
      }
    }

    .text-block {
      &__descr {
        font-size: 16px;
      }
    }

  /* RISKS SECTION END */
}