@import 'assets/colors';
@import 'assets/variables';
@import 'assets/mixins';

.sect-title {
  font-size: 28px;
}

.callback-popup {
  &__form {
    .form {
      max-width: 250px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      >.checkinp-wrap {
        margin-top: 0;
      }
      >label.invalid, label.invalid:nth-of-type(2) {
        transform: translateY(-30px);
        margin: 0;
        align-self: flex-start;
      }
    }

    .checkinp__lbl {
      label.invalid {
        left: 30px;
        text-align: left;
      }
    }
  }

  &__content {
    width: 400px;
  }

  &__descr {
    margin: 0 auto 30px;
  }
}

//blocks import
@import 'blocks/btns/btns.576';
@import 'blocks/popups/popups.576';
@import 'blocks/mobile-menu/mobile-menu.576';
@import 'blocks/form/form.576';
@import 'blocks/slick/slick.576';
@import 'blocks/card/card.576';
@import 'blocks/card-new/card-new.576';
@import 'blocks/activities/activities.576';
@import 'blocks/index-services/index-services.576';
@import 'blocks/index-about/index-about.576';
@import 'blocks/index-facts/index-facts.576';
@import 'blocks/index-news/index-news.576';
@import 'blocks/cybersecurity-sect/cybersecurity-sect.576';
@import 'blocks/index-clients/index-clients.576';
@import 'blocks/header/header.576';
@import 'blocks/hero/hero.576';
@import 'blocks/trust/trust.576';
@import 'blocks/invite/invite.576';
@import 'blocks/service/service.576';
@import 'blocks/stages/stages.576';
@import 'blocks/contacts/contacts.576';
@import 'blocks/footer/footer.576';
//new sect
@import 'blocks/service-hero-new/service-hero-new.576';
@import 'blocks/best-in-business/best-in-business.576';
@import 'blocks/actual-news/actual-news.576';
@import 'blocks/contact-us-new/contact-us-new.576';
@import 'blocks/testing-objects/testing-objects.576';
@import 'blocks/testing-models/testing-models.576';
@import 'blocks/customer-gets/customer-gets.576';
@import 'blocks/stages-new/intranet-pentest/stages.576';
@import 'blocks/stages-new/webapp-analysis/stages.576';
